<header>
    {{ if ne "" .Site.Title }}
        <h1><a href="{{ relURL "/" }}">{{ .Site.Title }}</a></h1>
    {{ end }}

    {{ if ne "" .Site.Params.Logo }}
        <img src="{{ relURL .Site.Params.Logo }}" alt="Logo" style="margin-bottom:20px"/>
    {{ end }}

    <p>{{ .Site.Params.Description }}</p>

    <ul class="downloads">
        <li><a href="https://www.meetup.com/Go-London-User-Group/"><i class="fab fa-meetup" aria-hidden="true"></i></a>
        </li>
        <li><a href="https://www.youtube.com/c/LondonGophers"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/LondonGophers"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/go-london-user-group"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    </ul>

    <div class="sponsors">
        <h2 class="title">Our sponsors</h2>
        <a href="https://monzo.com" target="_blank"><img alt="Monzo logo" src="/images/sponsors/monzo.png"/></a>
        <a href="https://thisisbud.com" target="_blank"><img alt="Bud logo" src="/images/sponsors/bud.png"/></a>
        <a href="https://www.vistasrecruitment.com" target="_blank"><img alt="Vistas Recruitment logo" src="/images/sponsors/vistas.png"/></a>
    </div>
</header>
